@import "colors.less";

//*--------------------------*/
//*      Std. CSS Reset      */
//*--------------------------*/
html,body { margin: 0; border: 0; padding: 0; }
html {
	font-size:62.5%;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	
	//for proper box-model behavior
	box-sizing: border-box;
} 

//for proper box-model behavior
*, *:before, *:after { box-sizing: inherit; }

body {
	background-color: @background-color;
}

//*--------------------------*/
//*          Header          */
//*--------------------------*/

.header { 

}

//*--------------------------*/
//*         ./Header         */
//*--------------------------*/


//*--------------------------*/
//*       Main Content       */
//*--------------------------*/
.main-wrapper {
	
}
//*--------------------------*/
//*      ./Main Content      */
//*--------------------------*/


//*--------------------------*/
//*          Footer          */
//*--------------------------*/
.footer {
	
}
//*--------------------------*/
//*         ./Footer         */
//*--------------------------*/


//*--------------------------*/
//*    Bootstrap Override    */
//*--------------------------*/

.stack-flow .navbar-default {
	color: #fff;
	background-color: rgba(0,0,0,0.5);
}

.stack-flow .navbar-default .navbar-toggle {
	border-color: #333;	
}

.stack-flow .navbar-default .navbar-brand {
	color: #555;
}

.stack-flow .navbar-default .navbar-nav>li>a {
	color: #555;
}

.stack-flow .navbar-default .navbar-nav>.active>a, 
.stack-flow .navbar-default .navbar-nav>.active>a:focus, 
.stack-flow .navbar-default .navbar-nav>.active>a:hover {
	color: #555;
	background-color: #e7e7e7;	
}

//*--------------------------*/
//*   ./Bootstrap Override   */
//*--------------------------*/


//*--------------------------*/
//*     Blizzard Styles      */
//*--------------------------*/
// these are styles taken from the blizzard website to make
// the app im building appear to be from the blizzard website



//*--------------------------*/
//*    ./Blizzard Styles     */
//*--------------------------*/


//*--------------------------*/
//*          Mixins          */
//*--------------------------*/
.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow:         @style @c;
}

.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.box {
  color: saturate(@shadow-base, 5%);
  border-color: lighten(@shadow-base, 30%);
  div { .box-shadow(0 0 5px, 30%) }
}