<div class="col-xs-12">
	<a href="#/" class="back-link pull-right">&lt; Back to Questions</a>

	<div class="row clearfix">
		<div class="col-xs-12" ng-repeat="question in questions">
			<h3>{{question.asked}}</h3>
			<div ng-bind-html="question.body"></div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="answer-count col-xs-12">{{count}} Answers</div>
	</div>
	<div class="row clearfix no-gutters" ng-repeat="item in answers">
		<div class="col-xs-12">
			<div class="row no-gutters">
				<div class="col-xs-12">
					<!--p class="ans-votes">0</p-->
					<div ng-bind-html="item.answer"></div>
				</div>
			</div>
			<div class="row no-gutters section-divider">
				<div class="col-xs-12"></div>
			</div>
		</div>
	</div>
	<!--form class="answer-form">
		<h4>Your Answer</h4>
	</form-->
	<!--div class="row section-divider">
			<div class="col-xs-12"></div>
	</div-->
</div>